# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea
build
bin/stardust
bin/stardust.exe
*.trace
*.mp4


tools/editor/acidsnow/bin/*
tools/editor/acidsnow/obj/*
tools/editor/acidsnow/editor.userprefs


