.selected {
	background-color: rgba(180, 120, 60, 0.7);
}

body {
	font-family: sans-serif;
	font-size: 10pt;
	background-color: #1A2127;
	color: rgba(255, 255, 255, 0.9);
}


#level-holder {
	float: left;
	width: 1024px;
	overflow: auto;
	max-height: 1000px;
	margin: auto;
}

#level {
	float: right;
	width: 1024px;
	height: 50000px;
	background-color: rgb(0, 0, 0);
	position: relative;
}

#level-screen {
	float: left;
	width: 1024px;
	height: 768px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
}

#animation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#animation-list li a {
	cursor: pointer;
}

#recipe-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#recipe-list li a {
	cursor: pointer;
	color: yellow;
}

#script-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#script-list li a {
	cursor: pointer;
	color: yellow;
}

#level-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#level-list li a {
	cursor: pointer;
	color: yellow;
}

#editor-tabs {
	float: right;
	width: 26em;
}