.selected {
	background-color: rgba(180, 120, 60, 0.7);
}

body {
	font-family: sans-serif;
	font-size: 10pt;
	background-color: #1A2127;
	color: rgba(255, 255, 255, 0.9);
}

#version-holder {
	width: 100%;
	float: left;
	background-color: black;
	padding: 4px;
	margin-bottom: 10px;
}

#editor-version {
	float: left;
	margin-left: 10px;
}

#editor-version span {
	font-weight: bold;
}

#editor-new-version {
	margin-left: 100px;
	float: left;
	color: tomato;
}

#editor-new-version a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}


/* Make all dialogs be in front of all sprites in the level editor*/
.ui-dialog {
	z-index: 1001 !important;
}

#level-holder {
	float: left;
	width: 1024px;
	overflow: auto;
	max-height: 1000px;
	margin: auto;
}

#level {
	float: right;
	width: 1024px;
	height: 50000px;
	background-color: rgb(0, 0, 0);
	position: relative;
}

#level-screen {
	float: left;
	width: 1024px;
	height: 768px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
}

#animation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#animation-list li a {
	cursor: pointer;
}

#recipe-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#recipe-list li a {
	cursor: pointer;
	color: yellow;
}

#script-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#script-list li a {
	cursor: pointer;
	color: yellow;
}

#level-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#level-list li a {
	cursor: pointer;
	color: yellow;
}

#editor-tabs {
	float: right;
	width: 26em;
}