#level-details {
	float: left;
}

.floating-button {
    float: left;
}

#level-layer-holder {
	float: left;
	clear: both;
}

.layer {
	float: left;
	clear: both;
    padding: 4px;
    background-color: #272727;
    color: wheat;
    cursor: pointer;
}

.layer.selected {
    background-color: #474747;
    color: #cd2e29;
}

.layer-visibility {
    float: left;
    width: 2em;
}

.layer-name {
	float: left;
    font-weight: bold;
    width: 20em;
}

.layer-depth {
	float: right;
    width: 2em;
}

.level-sprite {
	position: absolute;
	width: 32px;
	height: 32px;
	border: 0px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.level-sprite .selected {
	border: 1px solid red;
}


#level-editor-dialog-holder .row {
	width: 28em;
	float: left;
	clear: both;
	margin-bottom: 0.2em;
}

#level-editor-dialog-holder .row .label {
	width: 14em;
	float: left;
}

#level-editor-dialog-holder .row .field {
	/*width: 10em;*/
	float: left;
}

#level-editor-dialog-holder .row input[type=text] {
	width: 14em;
}

#level-editor-dialog-holder .row select {
	width: 14em;
}

#level-editor-dialog-holder .row label {
	cursor: pointer;
}


#entity-properties-dialog-holder .row {
	width: 28em;
	float: left;
	clear: both;
	margin-bottom: 0.2em;
}

#entity-properties-dialog-holder .row .label {
	width: 14em;
	float: left;
}

#entity-properties-dialog-holder .row .field {
	/*width: 10em;*/
	float: left;
}

#entity-properties-dialog-holder .row input[type=text] {
	width: 14em;
}

#entity-properties-dialog-holder .row select {
	width: 14em;
}

#entity-properties-dialog-holder .row label {
	cursor: pointer;
}
